<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <img src="/styles/logo.png" alt="Bank Image">
            <h1>Ro'yxatdan o'tish</h1>
            <p>Pullaringiz xavfsiz joyda deb his qilavering</p>
        </div>
        <div class="right-panel">
            <h1>Ro'yxatdan o'tish</h1>
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
            <div class="alternative">
                <p>Allaqachon akkauntingiz bormi? <a href="/login">Kirish</a></p>
            </div>
        </div>
    </div>
</body>
</html>
